body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  display: flex;
}

ul {
  display: flex;
}
.wrapper {
  width: 1440px;
}

header {
}

nav {
  display: inline-block;
}

/* logo */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
  text-decoration: none;
}

.logo-light {
  color: #2e2f42;
}

/* menu */
.menu {
  list-style-type: none;
}

.link-menu {
  text-decoration: none;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.link-menu:hover {
  color: #404bbf;
}

.link-menu:focus {
  color: #404bbf;
}

.link-menu:active {
  text-decoration: underline;
  color: #404bbf;
}

.list-menu {
  display: inline;
}

/* address */
.address {
  font-style: normal;
}

.address-list-content {
  list-style-type: none;
}

.list-address {
  display: inline;
}

.address-link {
  text-decoration: none;
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:active {
  color: #404bbf;
}

/* banner*/
.banner-main {
  height: 600px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 120px;
}

.banner-slogan {
  width: 496px;
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 1.12px;
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  line-height: 1.07;
}

.banner-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  margin: 0 auto;
  display: block;
}

.buttom-text {
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.banner-button:hover {
  background: #404bbf;
}

.banner-button:active {
  background: #404bbf;
}

/* vorteil */

.vorteil {
}

.vorteil-list {
  list-style-type: none;
  margin-bottom: 120px;
}

.vorteil-list-part {
}

.vorteil-header {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.vorteil-text {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding-right: 24px;
  margin-top: 0px;
}

/* Our team */
.team {
  height: 732px;
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
}

.team-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
}

.team-list {
  padding-bottom: 32px;
  text-align: center;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.team-part {
  list-style: none;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-left: 24px;
}

.team-foto {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

/* .team-content {
  padding-bottom: 32px;
  padding-top: 32px;
} */

.team-name {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-profi {
  margin-top: 0px;
  color: var(--SLATE, #434455);
  text-align: center;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio */

.portfolio {
  margin-bottom: 72px;
}

.portfolio-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  line-height: 1.11;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-list {
  list-style-type: none;
  /* padding-left: 156px;
  padding-right: 156px;
  margin-bottom: 120px; */
  margin-top: 0px;
}

.portfolio-list-item {
  margin-inline-start: 24px;
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.portfolio-foto {
  display: inline-block;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* .portfolio-case {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  display: inline-block;
} */

.portfolio-label {
}

.portfolio-label-header {
  color: var(--NAVY-BLUE, #2e2f42);

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-label-text {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* display: inline-block;
  mpading-bottom: 100px; */
}

/* Footer */
.footer {
  height: 312px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo-link {
  display: inline-block;
  margin-top: 101.5px;
  margin-left: 156px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
}

.footer-logo-dark {
  color: var(--CLOUD, #f4f4fd);
}

.footer-slogan {
  width: 264px;
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-left: 156px;
}
